
  <%= javascript_include_tag 'index' %>

<div id="readme"></div>
<div id="walrusboy" style="width:435px; border:none; padding:0; margin:0; display:block;">
	<div id="readme2"><a>Read Me</a></div>
	<h1>How it Works</h1>
    <div class="row">
    	<div class="result-picture">
			<div class="circle"><div class="number">1</div></div>
		</div>
		<div class="result-text howto">This is a rails app for temporary shared storage of links and resources.</div>
    </div>
	<div class="row">
		<div class="result-picture">
			<div class="circle"><div class="number">2</div></div>
		</div>
		<div class="result-text howto">
		Share valuable resources from any device with <a href="https://support.twitter.com/articles/14214-about-favorites-and-where-to-find-them" style="color:#F3F;">Twitter's Favorites</a> feature.</div>
	</div>
	<div class="row">
		<div class="result-picture">
			<div class="circle"><div class="number">3</div></div>
		</div>
		<div class="result-text howto">Search through the links and resources of Smashing Boxes employees.</div>
	</div>
	<div class="row">
		<div class="result-picture">
			<div class="circle"><div class="number">4</div></div>
		</div>
		<div class="result-text howto">To add or remove a user create an empty method for the page name. </div>
	</div>
</div>





